# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|

    config.vm.box = "ubuntu/focal64" # 20.04.5 LTS

    config.vm.provider "virtualbox" do |vb|
        #
        # Unless you're running loads of containers, this should be plenty of RAM.
        # We also have swapspace on the VM.
        #
        vb.memory = "1024"
        vb.cpus = "4"
    end

    config.vm.provision "shell", path: "bin/vagrant-provision.sh"

    #
    # Forward our ports.  Feel free to add more as needed.
    #
    config.vm.network "forwarded_port", guest: 3000, host: 3000, host_ip: "127.0.0.1"
    config.vm.network "forwarded_port", guest: 3100, host: 3100, host_ip: "127.0.0.1"
    config.vm.network "forwarded_port", guest: 8000, host: 8000, host_ip: "127.0.0.1"
    config.vm.network "forwarded_port", guest: 8080, host: 8080, host_ip: "127.0.0.1"
    config.vm.network "forwarded_port", guest: 9081, host: 9081, host_ip: "127.0.0.1"

    #
    # Mount our current directory in /vagrant (default)
    #
    config.vm.synced_folder ".", "/vagrant"

    #
    # Mount any additional directories.
    # My personal recommendation is not to share your entire home directory, but
    # instead create a directory such as "development/" and share that directory instead.
    #
    # NOTE: Paths inside Vagrant must be identical to what they are on the host's filesystem.
    # Otherwise, trying to mount volumes with Docker's -v switch will not work correctly.
    #
    #config.vm.synced_folder "#{ENV['HOME']}", "#{ENV['HOME']}"
    config.vm.synced_folder "#{ENV['HOME']}/development", "#{ENV['HOME']}/development"

    #
    # Used for caching .deb packages so that if I keep destroying and building VMs
    # I won't keep downloading the same packages over and over.
    #
    config.vm.synced_folder "vagrant-apt-cache", "/var/cache/apt/archives"

end


